<div class="flex justify-center items-center w-full h-full bg-gray-100">
  <div class="w-full max-w-md bg-white p-6 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-4">Categories</h1>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">
            <h2 class="font-bold">Category</h2>
          </th>
          <th class="px-4 py-2">
            <h2 class="font-bold">Add Task</h2>
          </th>
          <th class="px-4 py-2">
            <h2 class="font-bold">User ID</h2>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <%if category.user == current_user%>
            <tr>
              <td class="border px-4 py-2">
                <%=category.title %>
              </td>
              <td class="border px-4 py-2">
                <%= link_to "Add Task", new_category_task_path(category.id)%>
              </td>
              <td class="border px-4 py-2">
                <%= category.user_id %>
              </td>
              <td class="border px-4 py-2">
                <%= link_to "", category_tasks_path(category), class: "fa-solid fa-eye"%>
              </td>
              <td class="border px-4 py-2">
                <%= link_to "", edit_category_path(category), class: "fas fa-edit"%>
              </td>
              <td class="border px-4 py-2">
                <%= link_to "", category_path(category), data: {
turbo_method: :delete,
turbo_confirm: "Are you sure?"}, class: "fas fa-trash-alt"%>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="flex justify-center mt-8">
      <%= link_to "New Category", new_category_path, class: "text-white bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded" %>
    </div>
  </div>
</div>
